@use'../../variables.scss' as mixin;

.container{
   display: flex;
   justify-content: flex-start;
  
   background-color: mixin.$cards;
   margin: 0 10px;
   border-radius: 7px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
  

 ul li{
       list-style-type: none;
       margin: 10px 5px;
       font-size: mixin.$font-xl;
       text-transform: capitalize;
       width: 100%;
       padding: 0 mixin.$space-4;
      
       
    }
    .icons{
        color: rgb(102, 99, 99);
        font-size: mixin.$font-lg;
        margin: 0 7px;
    }

   
}
a{
    text-decoration: none;
     color: rgb(102, 99, 99);
}


 li:hover {
       
        background-color: rgb(235, 235, 241);
        border-radius: 7px;
         height: 30px;
        
      a,.icons{
                color: mixin.$primary;

      }
      }
      .active{
          background-color: rgb(235, 235, 241);
        border-radius: 7px;
         height: 30px;
        
      a,.icons{
                color: mixin.$primary;

      }
      }
    