@use'../../variables.scss' as mixin;

.container{
   display: flex;
   justify-content: flex-start;
   background-color: mixin.$cards;
   margin: 5px 10px;
   border-radius: 7px;

 ul li{
    display: flex;
    align-items: center;
       list-style-type: none;
       margin: 10px 5px;
       font-size: mixin.$font-2xl;
       text-transform: capitalize;
       width: 100%;
       padding: 0 mixin.$space-4;
      
       
    }
    .icons{
        color: rgb(102, 99, 99);
        font-size: mixin.$font-xl;
        margin: 0 7px;
        text-transform: capitalize;
    }

   
}
a{
    text-decoration: none;
     color: rgb(102, 99, 99);
}


 li:hover {
       
        background-color: rgb(235, 235, 241);
        border-radius: 7px;
        
      a,.icons{
                color: mixin.$primary;

      }
      }
      .active{
          background-color: rgb(235, 235, 241);
        border-radius: 7px;
        
      a,.icons{
                color: mixin.$primary;

      }
      }
    