
@use'./variables.scss' as mixin;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: mixin.$background;
}

.container{
  width: 1000px;
  margin:  0  auto;
  padding: 10px;
  
}

.divider{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}
.lower-header{
  display: grid;
  grid-template-columns: 1.3fr 3fr;
  width: 100%;
}
