
@use'./variables.scss' as mixin;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background-color: mixin.$background;
}

.container{
  width: 1000px;
  margin:  0  auto;
  padding: 10px;
   box-shadow: 0 0 0 2px rgba(0, 0, 0,0.1);
}

.divider{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}
.lower-header{
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}
