$primary: #4F46E5;          // Blue
$secondary: #10B981;        // Green
$background: white; 
$containerColor:white;
$text: #111827;              // Dark gray
$cards: #FFFFFF;  

$font-xs: 0.75rem;   // 12px
$font-sm: 0.575rem;  // 14px
$font-base: 1rem;    // 16px
$font-lg: 1.125rem;  // 18px
$font-xl: 1.25rem;   // 20px
$font-2xl: 1.5rem;   // 24px
$font-3xl: 1.875rem; // 30px
$font-4xl: 2.25rem;  // 36px
$font-5xl: 3rem;  

$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
$wide: 1536px;


$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-8: 32px;
$space-10: 40px;
$space-12: 48px;


 
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-2xl: 1320px;



$shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
$shadow-md: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 4px 8px rgba(0, 0, 0, 0.12);


$rounded-sm: 4px;
$rounded: 8px;
$rounded-lg: 12px;
$rounded-xl: 16px;
$rounded-2xl: 24px;




$z-dropdown: 1000;
$z-modal: 1050;
$z-overlay: 1100;
$z-toast: 1200;
$z-max: 9999;